body {
  background-color: #6E2C00;
  color: #F5B041;
  font-size: 16px;
  font-family: Helvetica;
}

nav {
  background-color: rgba(0,0,0,.5);
  float: left;
  position: fixed;
  width: 100%;
}

.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 70%;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

article {
  padding-top: 100px;
}

.container {
  margin: 0 auto;
  width: 50%;
}

figure {
  padding-bottom: 60px;
}

/* Text Start */

h1 {
  font-size: 4em;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  padding-bottom: 20px;
}

h2 {
  font-size: 3em;
  line-height: normal;
  padding-bottom: 20px;
}

h3 {
  font-size: 2em;
  line-height: normal;
  padding-bottom: 60px;
  font-weight: 300;
}

p {
  font-size: 1.2em;
  line-height: normal;
  padding-bottom: 20px;
  color: #FFFFFF;
  font-weight: lighter;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: Helvetica;
  font-size: 100%;
  font-weight: 400;
  letter-spacing: 2px;
}

a:link { color:#F5B041; } /* unvisited */
a:visited { color:#FFFFFF; } /* visited */
a:hover { color:#FFFFFF; } /* mouse over */
a:active { color:#FFFFFF; } /* selected */

figcaption {
  font-size: 80%;
  padding-top: 5px;
  letter-spacing: 1px;
  color: white;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

/* Text End */
